$custom-main-font: 'Open Sans', 'Helvetica', sans-serif;
$custom-secondary-font: 'Fjalla One', serif;


/* COLORS : see http://rgb.to/color/6478/dark-cherry-red */
$dark-cherry-red: rgb(108, 19, 43);
$dark-blue: rgb(19, 43, 108);
$green: rgb(19, 108, 85);
$brown: rgb(108, 85, 19);

/* RESPONSIVE */
$mobile: '320px';
$tablet: '768px';
$desktop: '992px';


body {
  font-family: $custom-main-font;
}

h1 {
  font-family: $custom-secondary-font;
  color: $dark-blue;
}

h3 {
  font-family: $custom-secondary-font;
  color: $dark-cherry-red;
}

.nav-pills > li > a {
  color: $dark-blue;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: $dark-blue;
}


.stuff-list {
  padding: 15px;
  border: 1px solid;
  border-radius: 25px;
  margin: 0;
}

.btn-start {
  color: white;
  background-color: rgba($brown,.5);
  border-color: $brown;
}

.btn-edit {
  color: white;
  border-color: black;
  background-color: $dark-blue;
  position: relative;
  margin-bottom: 5px;
  &:hover, &:focus {
    color: white;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* on hover we animate the width to
   * 100% and opacity to 0 so the element
   * grows and fades out
   */
  &:hover:after {
      width: 120%;
      background-color: rgba(255,255,255,0);
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
  }
}

.btn-add {
  @extend .btn-edit;
  background-color: darkred;
  display: none;
}

table.item-listing {
  width: 100%;
  &.editable {
    border-collapse: separate;
    border-spacing: 5px;
    tbody {
      tr:nth-child(odd) {
        background-color: initial;
      }
    }
  }
  thead {
      td.title {
        font-size: 1.5em;
        @media (min-width: 768px) {
          font-size: 2.5em;
        }
        font-family: $custom-main-font;
        padding-left: 5px;
        &+td {
          padding-right: 0;
        }
      }
  }
  tbody {
    th {
      text-align: center;
      font-size: 2.0em;
      font-family: $custom-secondary-font;
      &.subhead {
        font-family: $custom-main-font;
        font-size: 1.2em;
        padding-bottom: 10px;
      }
    }
    tr:nth-child(odd) {
      background-color: #eee;
    }
    tr {
      td {
        input {
          width: 100%;
          &[readonly] {
            border: none;
            background-color: transparent;
          }
          &:not([readonly]) {
            width: 100%;
            border: 2px solid #eaeaea;
            border-radius: 5px;
            padding: 5px 8px;
          }
        }
        font-size: 0.9em;
        padding-left: 0;
        padding-right: 0;
        @media (min-width: $tablet) {
          font-size: 1.0em;
          padding-left: 5px;
          padding-right: 5px;
        }
        @media (min-width: $desktop) {
          font-size: 1.1em;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
